header{
    position: relative;
}

nav{
    background: #000;
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px
}
nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    color: white;
    padding:0 30px 0 0;
}
.logo{
    margin-bottom:10px;
}
.logo img{
    width: 280px;
    height: auto;
}
main{
    width: 100%;
}
main img{
    max-width: 100%;
}
main #main-container{
    width:70%;
    float:left;
    padding-right:50px;
    box-sizing: border-box;
    margin: 0 0 150px;
}

main #main-container table {
    border-collapse: collapse;
    
}
main #main-container table tr{
    padding:10px 0;
}
main #main-container table tr td{
    padding: 10px;
    font-size: 10px;
    text-align: center;
    vertical-align: top;
}
main #main-container table tr td p {
    margin:5px 0 0;
}
main aside{
    float: right;
    width: 30%;
	margin: 30px 0 0;
}
main aside h2{
    font-size: 20px;
    border-bottom: 2px dotted #000;
    margin:0;
    
}
main aside ul{
    list-style: none;
    list-style-position: inside;
}
main aside ul li{
    text-align:left;
    line-height: 1.5;
    list-style-position: inside;
    margin-left:-2.5em
    
}
main #main-container h1{
    margin: 30px auto 20px;
    border-left: 4px solid red;
    background: #f1f1f1;
    padding: 5px 0 5px 15px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}
/*フォーム部分*/
form{
    margin: 0 auto 15px;
    background #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius; 10px;
    width: 100%;
	padding: 0 15px
    box-sizing: border-box;
}
form div {
    padding: 15px;
    box-sizing: border-box;
}
.submit{
	border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
	cursor: pointer;
}
.text, textarea, .dropdown{
    border:1px solid #dfdfdf;
    padding:5px;
    color: #999;
    background:#fff;
	width: 100%;
	box-sizing:border-box
}
main #main-container .kiji{
	border: 3px solid #ebebeb;
	padding: 0 15px 15px;
	margin:0 0 15px;
	width: 100%;
	box-sizing: border-box;
	color: #333;
}
main #main-container .kiji h2{
	border-bottom: 2px solid #ebebeb;
	font-size: 15px;
}
main #main-container .kiji .handlename {
	font-size: 11px;
}

/*　フッター
====================================== */
footer{
    clear:both;
    position: relative;
    background: #000;
    bottom:0;
    color: #fff;
    line-height: 40px;
    height: 60px;
    text-align: center;
    width:100%
}